body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#switchMode {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
}

#container3D {
  width: 100%;
  height: 100%;
}

#canvas2D {
  width: 100%;
  height: 100%;
}

#container2D {
  height: 100%;
}
